<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
    <h1><%= title%></h1>
        <form id="formAddUser" name="adduser" method="post" action="/adduser">
        <input id="inputUserName" type="text" placeholder="username" name="username">
        <input id="inputUserEmail" type="text" placeholder="email" name="useremail">
        <button id="btnsubmit" type="submit">Submit</button>
        </form>
    </body>

</html>